h1, h2, h3,
h4, h5, h6,
p, ul, li,
small{
    margin: 0;
}

h1, h2, h3{
    font-family: $font1;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1.2px;
}

h4, h5, h6{
    font-family: $font1;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 1.1px;
}

p, ul, li, a{
    font-family: $font2;
    font-weight: 600;
    letter-spacing: 1.2px;
}

small{
    font-family: $font2;
    font-size: .9em;
}

p{
    font-size: 1.1em;
}

li{
    font-size: 1em;
}

a{
    text-decoration: none;
}

.router-link-active{
    border-bottom: 4px solid $proj_primary;
}