#Landing{
    background: #f4f4f4;
    .landing_ctnr{
        display: flex;
        flex-flow: column;
        height: 100%;
        h1{
            text-align: center;
        }
    }    
    .landing1{
        overflow: hidden;
        background: var(--proj_primary);
        img{
            width: 100%;
        }
    
    }
    .landing2{
        flex: 1;
        display: flex;
        flex-flow: column;
        gap: 2em;
        padding: 2em;
        h1{
            text-align: left;
        }
    }
    
    .wave_transition{
        position: relative;
        bottom: -.25em;
    }
    
    .wave_transition2{
        transform: rotate(180deg);
    }
}



@media only screen and (min-width: 767px){
    .landing_ctnr{
        flex-flow: row;
    }
}